  <div class="cards">
    <% @lists.each_with_index do |list, index| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @movies_url_array[index] %>)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
