<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://png2.cleanpng.com/sh/cb75cc9136fbaa659dbf64e62228c933/L0KzQYm3VMIzN6p6j5H0aYP2gLBuTgBpd6V0fARqcHjsc37tifxuNZ50jttuLXnmf7B6TfNqdpZyeZ9sbHHzgLb5gv9iepUyTdNtY0bmcoG6hchkbGEzSaMBN0G6QIm4VcI1O2o6Sao9MkW5QnB3jvc=/kisspng-photographic-film-movie-icons-cinema-clapperboard-5adc6cb03e8cd0.1167170815243951842562.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to 'New list', new_list_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My lists', lists_path, class: 'nav-link' %>
          </li>
      </ul>
    </div>
  </div>
</div>
